@charset "UFT-8";
@import url('https://fonts.googleapis.com/css?family=Poppins');
html{
font-size: 100%;    
}
body{
 font-family: 'poppins',"微軟正黑體","Open Sans Condensed",sans-serif;
 line-height: 1,7;
 /* overflow: hidden; */
}
a{
    text-decoration: none;
}
a:visited{
    transition: all .3s;
}
img{
    max-width: 100%;
}
.logo{
    margin-top: 50px;
    /* background-color: blue; */
    min-width: 130px;
    height: 40%;
}
.main-nav{
    margin-left: -40px;
    display: flex;
    font-size: 1.25rem;
    list-style: none;
}
.main-nav li{
    margin-top: 10%;
    margin-left: 60px;
}
.main-nav a{
    /* font-family: monospace; */
    color: white;
}
.main-nav a:hover{
    color:orange;
}
.page-header{
    /* background-color: darkcyan; */
    /* box-sizing: border-box; */
    height: 120px;
    display: flex;
    justify-content:space-between;
}
.wrapper{
    max-width: 1300px;
    margin: 0 auto;
    padding:0 4%;
    /* background-color: khaki; */
}
.div-wrapper{
    height: 100vh;
    /* max-height: 700px; */
}
#home{
    background: radial-gradient(circle at 70% 120%, rgba(30,158,207,1) 0%, rgba(0,41,77,1) 70%);
    min-height: 100vh;
    overflow: hidden;
}
.img-island{
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 0;
    /* background-color: turquoise; */
    max-height: 100%;
}
h1{
    padding-left: 30px;
    border-left: white solid 17px;
    text-shadow: 2px 2px 20px rgba(36, 36, 36, 0.8);
    line-height: 120%;
    color: white;
    text-transform: uppercase;
    font-size: 6rem;
    /* background-color: violet; */
}
h2{
    text-shadow: 2px 2px 3px rgba(36, 36, 36, 0.6);
    line-height: 120%;
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    /* background-color: violet; */
}
.flexer{
    display: flex;
    /* background-color: aquamarine */
}
.left-word-field{
    z-index: 2;
    position: absolute;
    /* background-color: yellow; */
    max-width: 30%;
    height: 100%;
}
.content-display{
    margin-top: 30px;
    /* background-color: mediumseagreen; */
    position: relative;
    display: flex;
}
span,p{
    font-size: 1.1rem;
    /* border-top: white 1px solid; */
    margin: -5% 0;
    color: white;
    display: inline-block;
}
/* works css */
#menu{
    background: radial-gradient(circle at 70% 120%, rgba(30,158,207,1) 0%, rgba(0,41,77,1) 70%);
    min-height: 100vh;
}
.work-title-content{
     margin-top: 4%;
    text-align: center;
    max-width: 560px;

    /* background-color: aquamarine; */
}
.work-title-content p{
    /* display: inline; */
    font-size: 1.3rem;
    text-shadow: 2px 2px 3px rgba(36, 34, 34, 0.6);
    font-weight: bold;
    position: relative;
    z-index: 2;
    display: block;
    margin: 0 auto;
    margin-top: -20px;
    max-width: 200px;
    /* background-color:aqua; */
}
.title_block{
z-index: -1;
position: absolute;
right: 0;
bottom: 0;
height: 20px;
width: 100px;
margin-bottom: -0px;
margin-right: -5px;
    background-color: orange
}
.samll_title{
    display: inline;
    z-index: 2;
    position: relative;
    /* background-color: darkgray; */
}
.work-title-border{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    max-width: 250px;
    min-height: 150px;
    margin: 0 auto;
}
/* filter******************************************************************** */
.filter{
    margin-top: 3%;
    /* position: relative; */
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input[type=radio] {
    display: none;
  }
  
  label {
    width: 17%;
   /* background-color: orangered; */
    display: inline-block;
    margin-bottom: 2em;
    padding: .5em;
    color: hsla(0, 0%, 100%, .5);
    border-bottom: .2em solid rgba(0, 0, 0, .1);
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    cursor: pointer;
  }
  label:hover {
    color: hsla(0, 0%, 100%, .9);
  }
  
  input[type=radio]:checked+label {
    border-color: orange;
  }
  
  input[type=radio][id=blue]:checked~.work-grid .green,
  input[type=radio][id=blue]:checked~.work-grid .red,
  input[type=radio][id=green]:checked~.work-grid .blue,
  input[type=radio][id=green]:checked~.work-grid .red,
  input[type=radio][id=red]:checked~.work-grid .blue,
  input[type=radio][id=red]:checked~.work-grid .green 
  {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    position:absolute;left:-9999999rem;
    opacity: 0;
  }

  input[type=radio][id=blue]:checked~.work-grid .blue{
    grid-row-start: auto;
    order: -1;
  }
  input[type=radio][id=green]:checked~.work-grid .green{
    grid-row-start: auto;
    order: -1;
  }
  input[type=radio][id=red]:checked~.work-grid .red{
    grid-row-start: auto;
    order: -1;
  }
  input[type=radio][id=blue]:checked .work-grid{
      background-color: orangered;
  }
  
  .tile {
    border: 1px solid rgba(255, 255, 255, 0.5);
    /* 垂直並排 */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* 垂直並排 */
    position: relative;
    min-height: 300px;
    border-radius: .5em;
    transition: all .15s;
    
    background:  url('https://images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
    background-size: cover;
    background-position: center;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
  }
  .tile::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 70%);
    opacity: 0.5;
    border-radius: .5em;
    transition: opacity 0.3s ease-in-out;
  }
 .tile:nth-of-type(3n) {
    background-image: url('https://images.unsplash.com/photo-1422255198496-21531f12a6e8?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=');
  }
  
  .tile:nth-of-type(4n) {
    background-image: url('https://images.unsplash.com/photo-1490914327627-9fe8d52f4d90?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=');
  }
  
  .tile:nth-of-type(5n) {
    background-image: url('https://images.unsplash.com/photo-1476097297040-79e9e1603142?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  }
  
  .tile:nth-of-type(6n) {
    background-image: url('https://images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=');
  }
  .green {
    /* background: rgba(52, 150, 220, 0.44); */
  }
  
  .blue {
    /* background: rgba(52, 150, 220, 0.44); */
  }
  
  .red {
    /* background: tomato; */
    /* background: rgba(52, 150, 220, 0.44); */
  }
  .portfolio-title{
    /* position: relative; */
    z-index: 1;
    border-radius: .5em;
    padding: 15px;
    color: #444;
    background: #fff;
    text-transform: lowercase;
    letter-spacing: 1px;
    color: #828282;
  }
  .work-grid{
      /* order: 1; */
      flex: 1 0 100%;
      /*  flex-grow, flex-shirk 及 flex-basis 並把*/
      /*  父元素flex-wrap: wrap 所以超過範圍會被擠下去 */

      /* background-color: orangered; */
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      margin-top: 3%;
      margin-bottom: 3%;
      grid-auto-rows: 300px;
      grid-auto-flow: row dense;
  }
  .portfolio-image{
    border-radius: .5em;
    background-repeat: no-repeat;
    background-image: url(/image/portfolio/phone.png);
    background-position: center;
    background-size: cover;
    /* background-color:white ; */
    /* margin: 20px; */
    height: 500px;
    max-height: 80%;
 } 
h3{
    text-align: center;
    text-shadow: 2px 2px 3px rgba(36, 36, 36, 0.6);
    line-height: 120%;
    color: white;
    text-transform: uppercase;
    font-size: 1.5rem;
    /* background-color: violet; */
}
.tile h3{
    /* position: absolute; */
    z-index: 1;
}
  /* overlay window******************************************************************** */
  .overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
    position: fixed;
    top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    /* opacity: 0; */
    display: none;
    overflow: hidden;
}
.content {
    max-height: 600px;
    /* border-radius: 5px;  */
}
.popup {
    /* 位置 */
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    /* 位置 */
    /* 尺寸 */
    width: 700px;
    height: 500px;
     /* 尺寸 */
    /* 外型裁剪 */
    -webkit-clip-path: inset(0 0 0 0 round 5px);
    clip-path: inset(0 0 0 0 round 5px);
        /* 外型裁剪 */
    /* scrollbar-width: thin; */
	padding: 20px;
	background: #fff;
    overflow-y: scroll;
    -webkit-animation-name:animatetop;
    -webkit-animation-duration: 1s;
    animation-name:animatetop;
    animation-duration: 0.5s;
  }
  @-webkit-keyframes animatetop{
    from{opacity:0;}
    to{opacity:1;}
    }
  @keyframes animatetop{
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
.scroller-bar::-webkit-scrollbar-button{
    height: 5%;
background-color: white;
}
.scroller-bar::-webkit-scrollbar-track
{
    background-color: white;
}

.scroller-bar::-webkit-scrollbar
{
	width: 13px;
	background-color: #F5F5F5;
}

.scroller-bar::-webkit-scrollbar-thumb
{
    width: 1px;
	border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
	background-color: rgb(167, 167, 167);
}

    .close {
        display: inline-block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 20px;
        right: 20px;
        opacity: 0.8;
        transition: all 200ms;
        font-size: 24px;
        font-weight: bold;
        text-decoration: none;
        color: #666;
        cursor: pointer;
        }
        .close:hover{
            opacity: 1;
        }
        .popup h2{
            margin-top: 0;
            color: #666;
            font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
        }
        .popup p{
            color: black;
            margin: 0 0 1em;
        }
        .popup p:last-child{
            margin: 0;
        }
