@charset "UFT-8";
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap);
html {
	font-size: 100%
}
body {
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1, 7;
	background-repeat: no-repeat
}
.main-background {
	position: fixed;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	padding: 0;
	background: url(https://natural-design.work/image/bg.jpg) 50%/cover no-repeat, radial-gradient(88.24% 62.75% at -2.6% 3.1%, #19191b 0, #232323 14.7%, #08090c 100%), #fff;
	background-blend-mode: overlay, normal, normal;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	left: 0
}
.index-bg {
	min-height: 100vh
}
a {
	text-decoration: none
}
a:visited {
	transition: all .3s
}
img {
	max-width: 100%;
	height: auto
}
.logo {
	margin-top: 5%;
	width: 200px;
	max-height: 100%
}
.nav-ham {
	z-index: 500;
	display: none;
	cursor: pointer
}
.nav-ham-logo {
	width: 50px;
	height: 50px;
	cursor: pointer
}
.mobile-nav {
	flex-grow: 1;
	opacity: 0;
	display: flex;
	visibility: hidden;
	font-size: 1.5rem;
	list-style: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all .3s
}
.mobile-nav li {
	margin: 20px
}
.mobile-nav a {
	position: relative;
	display: inline-block;
	color: #fff;
	text-align: center;
	width: 40vw;
	min-width: 150px;
	padding: 16px;
	border-radius: 16px;
	border: 2px solid #fff
}
.mobile-nav a:hover {
	border: 2px solid C49C2B;
	color: C49C2B
}
.main-nav {
	display: flex;
	font-size: 1.25rem;
	list-style: none
}
.main-nav li {
	margin-left: 60px
}
.main-nav a {
	color: #fff
}
.main-nav a:hover {
	color: C49C2B
}
.header-block {
	min-height: 15vh
}
.page-header {
	box-sizing: border-box;
	min-height: 80px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .3s
}
.page-header-bg {
	display: flex;
	flex-direction: column;
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 110px;
	top: 0;
	left: 0;
	right: 0;
	transition: all .3s
}
.wrapper {
	max-width: 1260px;
	margin: 0 auto;
	padding: 0 4%
}
#home {
	min-height: 100vh
}
h1 {
	display: block;
	text-shadow: 2px 2px 50px #00070e;
	line-height: 120%;
	color: #fff;
	text-transform: uppercase;
	font-size: 72px
}
h2 {
	line-height: 120%;
	color: #fff;
	text-transform: uppercase;
	font-size: 3rem
}
.content-display {
	display: flex;
	flex-direction: column;
	height: 100vh
}
.about-display {
	display: flex;
	flex-direction: column
}
.contact-content-display {
	display: flex;
	flex-direction: column;
	min-height: 100vh
}
.content-index {
	position: relative;
	flex-grow: 1;
	display: flex;
	justify-content: space-between
}
.about-index {
	position: relative;
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between
}
.name_block {
	z-index: -1;
	position: absolute;
	right: -18px;
	bottom: -10px;
	height: 45px;
	width: 25vmin;
	background-color: C49C2B
}
.about-Content {
	margin-top: 160px;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	padding: 20px;
	padding-top: 160px;
	border-top: rgba(255, 255, 255, .5) solid 1px
}
@keyframes move {
	25% {
		opacity: 1
	}
	33% {
		opacity: 1;
		transform: translateY(25px)
	}
	67% {
		opacity: 1;
		transform: translateY(40px)
	}
	100% {
		opacity: 0;
		transform: translateY(55px) scale3d(.5, .5, .5)
	}
}
@keyframes pulse {
	to {
		opacity: 1
	}
}
p {
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1, 7;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
	line-height: 180%
}
#menu {
	min-height: 100vh
}
.work-title-content {
	margin-top: 15vh;
	text-align: center;
	max-width: 560px
}
.work-title-content p {
	font-size: 1.3rem;
	text-shadow: 2px 2px 3px rgba(36, 34, 34, .6);
	font-weight: 700;
	position: relative;
	z-index: 2;
	display: block;
	margin: 0 auto;
	margin-top: -5px;
	max-width: 200px
}
.title_block {
	z-index: -1;
	position: absolute;
	right: 0;
	bottom: 0;
	height: 20px;
	width: 100px;
	margin-bottom: 0;
	margin-right: -5px;
	background-image: linear-gradient(137deg, #fbe39a 0, #c49c2b 100%)
}
.samll_title {
	display: inline;
	z-index: 2;
	position: relative
}
.work-title-border {
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #fff;
	max-width: 250px;
	min-height: 150px;
	margin: 0 auto
}
.filter {
	margin-top: 40px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center
}
input[type=radio] {
	display: none
}
label {
	flex: 1 1 0;
	display: inline-block;
	margin-bottom: 40px;
	padding: 2% 0;
	color: hsla(0, 0%, 100%, .5);
	border-bottom: .2em solid rgba(255, 255, 255, .15);
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 1px;
	cursor: pointer
}
label:hover {
	color: hsla(0, 0%, 100%, .9)
}
input[type=radio]:checked+label {
	border-color: #c49c2b;
	color: #fff
}
input[type=radio][id=UI-design]:checked~.work-grid .art-design, input[type=radio][id=UI-design]:checked~.work-grid .graphic-design, input[type=radio][id=UI-design]:checked~.work-grid .web-design, input[type=radio][id=art-design]:checked~.work-grid .UI-design, input[type=radio][id=art-design]:checked~.work-grid .graphic-design, input[type=radio][id=art-design]:checked~.work-grid .web-design, input[type=radio][id=graphic-design]:checked~.work-grid .UI-design, input[type=radio][id=graphic-design]:checked~.work-grid .art-design, input[type=radio][id=graphic-design]:checked~.work-grid .web-design, input[type=radio][id=web-design]:checked~.work-grid .UI-design, input[type=radio][id=web-design]:checked~.work-grid .art-design, input[type=radio][id=web-design]:checked~.work-grid .graphic-design {
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	position: absolute;
	left: -9999999rem;
	opacity: 0
}
input[type=radio][id=UI-design]:checked~.work-grid .UI-design {
	order: -1
}
input[type=radio][id=art-design]:checked~.work-grid .art-design {
	order: -1
}
input[type=radio][id=graphic-design]:checked~.work-grid .graphic-design {
	order: -1
}
input[type=radio][id=web-design]:checked~.work-grid .web-design {
	order: -1
}
.tile {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	border-radius: .5em;
	transition: all .15s;
	background-size: cover;
	background-position: center;
	box-shadow: 0 3px 20px 2px rgba(0, 0, 0, .329)
}
.tile::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 0) 70%);
	opacity: .5;
	border-radius: .5em;
	transition: opacity .3s ease-in-out
}
.tile:hover {
	transform: scale(1.05)
}
.tile:hover>h3 {
	opacity: 0
}
.tile:hover::after {
	opacity: 0
}
.work-sofa-app {
	background-image: url(https://natural-design.work/image/portfolio/sofa_app/shop01.png)
}
.work-game-ui {
	background-image: url(https://natural-design.work/image/portfolio/game_UI/gameUI_01.png)
}
.work-stack {
	background-image: url(https://natural-design.work/image/portfolio/stack/mock_01.jpg);
	background-position: center bottom
}
.work-dragon-girl {
	background-image: url(https://natural-design.work/image/portfolio/dragon_girl/mock_01.jpg);
	background-position: center top
}
.work-pile-up {
	background-image: url(https://natural-design.work/image/portfolio/pileup/mock_02.png)
}
.work-TAG {
	background-image: url(https://natural-design.work/image/portfolio/tag/mock_01.jpg)
}
.work-the-last-trace {
	background-image: url(https://natural-design.work/image/portfolio/the_last_trace/mock_01.png);
	background-position: center bottom
}
.work-scifi {
	background-image: url(https://natural-design.work/image/portfolio/scifi/mock01.png)
}
.work-alcholAd {
	background-image: url(https://natural-design.work/image/portfolio/alcohol_media/mock01.png)
}
.work-Ggod {
	background-image: url(https://natural-design.work/image/portfolio/girl_god/mock01.png);
	background-position: center bottom
}
.work-yipin {
	background-image: url(https://natural-design.work/image/portfolio/yipin/mock01.jpg);
	background-position: center top
}
.work-siyi {
	background-image: url(https://natural-design.work/image/portfolio/siyi/mock01.jpg)
}
.work-cosmetic {
	background-image: url(https://natural-design.work/image/portfolio/re_cosmetic/cosmetic_01.jpg);
	background-position: center 90%
}
.work-myboom {
	background-image: url(https://natural-design.work/image/portfolio/myboom/myboom01.jpg)
}
.work-myboom-cms {
	background-image: url(https://natural-design.work/image/portfolio/myboom_cms/pic03.png);
	background-position: center top
}
.work-chine_air {
	background-image: url(https://natural-design.work/image/portfolio/china_airplane/pic01.jpg);
	background-position: center top
}
.work-rags {
	background-image: url(https://natural-design.work/image/portfolio/rags/pic01.jpg);
	background-position: center top
}
.soccermining {
	background-image: url(https://natural-design.work/image/portfolio/scooermining/mock01.png)
}
.ins_keeper {
	background-image: url(https://natural-design.work/image/portfolio/ins_keeper/mock01.png)
}
.ironfather {
	background-image: url(https://natural-design.work/image/portfolio/ironfather_logo/mock01.jpg)
}
.xuan {
	background-image: url(https://natural-design.work/image/portfolio/xuan/mock01.jpg)
}
.hong {
	background-image: url(https://natural-design.work/image/portfolio/hong/mock02.png)
}
.ahong-saussage {
	background-image: url(https://natural-design.work/image/portfolio/ahong-saussage/mock01.jpg)
}
.mrh_web {
	background-image: url(https://natural-design.work/image/portfolio/mrh_web/mock01.png)
}
.aidogelon_web {
	background-image: url(https://natural-design.work/image/portfolio/aidogelon/mock01.jpg)
}
.W-Emetaverse {
	background-image: url(https://natural-design.work/image/portfolio/W&Emetaverse/mock01.png)
}
.metaverse-scratchup {
	background-image: url(https://natural-design.work/image/portfolio/metaverse_scratchup/mock01.png)
}
.KPMAX {
	background-image: url(https://natural-design.work/image/portfolio/KPMAX/mock01.jpg)
}
.diet_app {
	background-image: url(https://natural-design.work/image/portfolio/diet_app/mock02.jpg)
}
.skyup {
	background-image: url(https://natural-design.work/image/portfolio/skyup/mock02.jpg);
	background-position: center top
}
.house_sell_dm {
	background-image: url(https://natural-design.work/image/portfolio/house_sell_dm/mock01.jpg)
}
.work-grid {
	flex: 1 0 100%;
	display: grid;
	gap: 30px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-top: 3%;
	margin-bottom: 3%;
	grid-auto-rows: 40vmin;
	grid-auto-flow: row dense
}
.work-grid h3 {
	margin-bottom: 16px
}
h4 {
	line-height: 120%;
	text-transform: uppercase;
	font-size: 22px;
	transition: all .3s
}
h3 {
	font-family: '微軟正黑體';
	text-shadow: 2px 2px 5px rgba(36, 36, 36, .6);
	line-height: 120%;
	color: #fff;
	font-size: 1.5rem;
	transition: all .3s
}
h5 {
	line-height: 120%;
	color: #fff;
	text-transform: uppercase;
	font-size: 24px;
	transition: all .3s
}
.tile h3 {
	text-align: center;
	z-index: 1
}
.overlay {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 6;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, .5);
	display: none;
	overflow: hidden;
	transition: all .5s
}
.popup-photo-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 4%
}
.popup-photo-container:last-child {
	margin-bottom: 4%
}
.popup-img {
	margin-top: 40px;
	display: block;
	-webkit-filter: drop-shadow( 0 2px 5px rgba(0, 0, 0, .2));
	filter: drop-shadow( 0 2px 5px rgba(0, 0, 0, .2));
	border-radius: .5em;
	min-width: 100%;
	z-index: -1
}
.popup-photo {
	margin: 10px;
	width: 600px;
	height: 400px;
	position: relative;
	border-radius: .5em;
	transition: all .15s;
	background: url(https://natural-design.work/css/images.unsplash.com/photo-1470124182917-cc6e71b22ecc?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	background-position: center;
	box-shadow: 0 3px 20px 2px rgba(0, 0, 0, .329)
}
.popup-photo:nth-of-type(3n) {
	background-image: url(https://natural-design.work/css/images.unsplash.com/photo-1422255198496-21531f12a6e8?dpr=2&auto=format&fit=crop&w=1500&h=996&q=80&cs=tinysrgb&crop=)
}
.popup-photo:nth-of-type(4n) {
	background-image: url(https://natural-design.work/css/images.unsplash.com/photo-1490914327627-9fe8d52f4d90?dpr=2&auto=format&fit=crop&w=1500&h=2250&q=80&cs=tinysrgb&crop=)
}
.popup-photo:nth-of-type(5n) {
	background-image: url(https://natural-design.work/css/images.unsplash.com/photo-1476097297040-79e9e1603142?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=)
}
.popup-photo:nth-of-type(6n) {
	background-image: url(https://natural-design.work/css/images.unsplash.com/photo-1464652149449-f3b8538144aa?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop=)
}
.popup-header {
	padding: 0 4%;
	height: 100px;
	background-color: #fff
}
.IconandName {
	display: flex;
	align-items: center;
	position: relative;
	flex-grow: 1
}
.ytcon {
	display: none
}
.linkicon {
	display: none
}
.popup-header i {
	color: #000;
	font-size: 40px
}
.title_blocker {
	display: none;
	min-width: 0;
	min-height: 0
}
#web {
	position: static;
	display: block;
	visibility: visible;
	pointer-events: auto;
	margin-left: 10px
}
#mobile {
	display: none;
	max-width: 0;
	max-height: 0
}
.item_nav {
	height: 100%;
	border-bottom: solid 2px rgba(0, 0, 0);
	display: flex;
	justify-content: space-between;
	align-items: center
}
.popup-content {
	position: sticky;
	margin-top: 0
}
.popup {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	width: 50vw;
	height: 90vh;
	-webkit-clip-path: inset(0 0 0 0 round 5px);
	clip-path: inset(0 0 0 0 round 5px);
	background: #fff;
	overflow-y: scroll;
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 1s;
	animation-name: animatetop;
	animation-duration: .5s
}
@-webkit-keyframes animatetop {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
@keyframes animatetop {
	from {
		opacity: 0
	}
	to {
		opacity: 1
	}
}
::-webkit-scrollbar-button {
	height: 5%;
	background-color: #fff
}
.scroller-bar::-webkit-scrollbar-track {
	background-color: #fff
}
.scroller-bar::-webkit-scrollbar {
	width: 13px;
	background-color: #f5f5f5
}
.scroller-bar::-webkit-scrollbar-thumb {
	border-radius: 10px;
	border: 3px solid transparent;
	background-clip: content-box;
	background-color: #a7a7a7
}
.close-svg {
	opacity: .5;
	transition: all .2s;
	height: 30px;
	width: 30px;
	display: block
}
.close-svg:hover {
	opacity: 1
}
.popup p {
	color: #000;
	margin: 0 0 1em
}
.popup p:last-child {
	margin: 0
}
.content-contact {
	margin-top: 40pt;
	flex-grow: 1;
	display: flex;
	justify-content: space-between
}
.Contact-title {
	margin: 0;
	padding: 0;
	border: none;
	text-shadow: 2px 2px 50px rgba(0, 7, 14, .301)
}
@media (max-width:1024px) {
	.main-background {
		background: url(https://natural-design.work/image/bg_mb.jpg) 50%/cover no-repeat, radial-gradient(88.24% 62.75% at -2.6% 3.1%, #19191b 0, #232323 14.7%, #08090c 100%), #fff
	}
	.content-index {
		gap: 120px;
		flex-direction: column
	}
	.scroller-bar::-webkit-scrollbar {
		width: 4px
	}
	.scroller-bar::-webkit-scrollbar-thumb {
		border: 0
	}
	.close-svg {
		height: 30px;
		width: 30px;
		content: url(https://natural-design.work/image/back.svg)
	}
	label {
		font-size: 12px
	}
	.work-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: 40vmin
	}
	.nav-ham {
		display: block
	}
	.main-nav {
		display: none
	}
	.page-header {
		height: 80px
	}
	h1 {
		padding-left: 0;
		color: #fff;
		text-transform: uppercase;
		border-left: none;
		font-size: 14vmin
	}
	.Contact-title {
		text-align: center
	}
	.content-contact {
		margin-top: 20pt;
		display: flex;
		flex-direction: column;
		justify-content: flex-start
	}
	.about-Content {
		flex-direction: column;
		padding: 0;
		margin-top: 80px;
		padding-top: 80px
	}
}
@media (max-width:770px) {
	.title_blocker {
		display: block;
		min-width: 30px;
		min-height: 30px
	}
	#web {
		position: absolute;
		left: 999999rem;
		bottom: 999999rem;
		position: absolute;
		display: none;
		visibility: hidden
	}
	#mobile {
		display: inline;
		max-width: 30px;
		max-height: 30px;
		min-width: 30px;
		min-height: 30px
	}
	.overlay {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 6;
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, .5);
		display: none;
		overflow: hidden;
		transform: translateX(100%);
		transition: all .5s
	}
	.slider{
		transform: translateX(0%);
	  }
	.popup {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		padding-top: 80px;
		transform: none;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background-color: #f0f0f0;
		-webkit-clip-path: inset(0 0 0 0 round 0);
		clip-path: inset(0 0 0 0 round 0)
	}
	.popup-header {
		padding: 0 4%;
		height: 80px;
		box-shadow: 0 5px 5px rgba(0, 0, 0, .05);
		backdrop-filter: blur(5px);
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		width: 100vw
	}
	.item_nav {
		position: relative;
		height: 100%;
		border-bottom: solid 0 rgba(0, 0, 0);
		display: flex;
		flex-direction: row-reverse;
		align-items: center
	}
	.popup-title {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		writing-mode: horizontal-tb;
		text-align: center
	}
	.about-index h3 {
		letter-spacing: 0;
		font-size: 16px
	}
	.content-contact {
		display: flex;
		flex-direction: column
	}
}
@media (max-width:684px) {
	.work-grid {
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-auto-rows: 55vmin
	}
}